<div id="about">
	<div class="outer"><h1>About Me</h1></div>

		<% if signed_in? %>

			<%= form_for @aboutpage do |a| %>
				<div class="image_outer_box">
					<div class="image_box">
						<img src="<%= @aboutpage.image.to_s %>" />
						<%= a.file_field :image, :onchange =>"validateFiles(this);", class: "file-input" %>
					</div>
				</div>
				<p id="aboutContent" contenteditable="true">
					<%= @aboutpage.content.html_safe %>
				</p>

				<%= a.text_field :content, class: "contentInput" %>
			<% end %>

		<% else %>

			<div class="image_outer_box"><div class="image_box"><img src="/assets/bendit_about01.jpg" /></div></div>
			<p id="aboutContent">
				<%= @aboutpage.content.html_safe %>
			</p>

		<% end %>
	</div>
</div>

<script>

	var onAbout = true

	<% if signed_in? %>
		var onAdmin = true
	<% else %>
		var onPublic = true
	<% end %>

</script>