<div id="articles">
	<div class="title_outer"><h1>Handouts</h1></div>
	<% if signed_in? %>
		<%= form_for Handout.new do |b| %>

			<h3>Add a New Handout</h3>

			<%= b.label "Handout Title" %>
			<%= b.text_field :title, class: "form-control" %>

			<%= b.label "Handout Cover Image" %>
			<%= b.file_field :image, :onchange =>"validateFiles(this);", class: "file-input" %>

			<%= b.label "Handout Document (PDF or Other)" %>
			<%= b.file_field :file, class: "file-input" %>

			<%= b.submit "Submit", class: "button" %>
		<% end %>
	<% end %>

	<%= render @handouts %>
</div>
