<div id="signup">
	<h1> Sign In </h1>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <div class="button-container"><%= f.submit "Sign in", class: "submitbtn" %></div>
    <% end %>
</div>