<div class="container product-category">
	<div class="row">
		<div class="col-sm-12">
			<h2><%= category.cat_name %></h2>
			<% if category.id == 8 %>
				<img class="cover" src="/assets/article_toothbrushes_07132016.png" />
				<h4><a href="http://www.dimensionsofdentalhygiene.com/2015/05_May/Features/Focus_on_Toothbrushes.aspx" target="_blank">Focus on Toothbrushes</a>, Reprinted with permission. <em>"Dimensions of Dental Hygiene", 2015</em></h4>
			<% elsif category.id == 9 %>
				<img class="cover" src="/assets/toothpaste_cover.jpg" />
				<h4><a href="/1015_focus_on_toothpaste.pdf" target="_blank">Focus on Toothpaste</a>, Reprinted with permission. <em>"Dimensions of Dental Hygiene", 2015</em></h4>
			<% elsif category.id == 10 %>
				<img class="cover" src="/assets/mouthrinse_cover.jpg" />
				<h4><a href="/focus_on_mouthrinses_0415.pdf" target="_blank">Focus on Mouth Rinses</a>, Reprinted with permission. <em>"Dimensions of Dental Hygiene", 2015</em></h4>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<% category.products.sort.each do |p| %>
				<div class="col-sm-3">
					<a rel="nofollow" data-method="put" href="/products/<%= p.id %>/analytics" class="button product-block col-sm-10 col-sm-offset-1">
						<h3><%= p.title %> <% if signed_in? %>Views:  <% if p.views == nil %>0<% end %><%= p.views %> <% end %></h3>
						<div class="product-image" style="background: url('<%= p.product_img_url %>'); background-size: contain; background-repeat: no-repeat; background-position: center;"> </div>
					</a>
					<% if signed_in? %>	        
				        <a href="/products/<%= p.id %>/edit">EDIT</a>
				    <% end %>	
				</div>
			<% end %>
		</div>
	</div>
</div>