<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :product_img_url %><br>
    <%= f.text_field :product_img_url, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :product_url %><br>
    <%= f.text_field :product_url, class: "form-control" %>
  </div>
  <div class="field">
  <%= f.label "Select Category" %>
  <%= f.collection_select(:category_id, Category.all, :id, :cat_name) %>
  </div>
  <div class="actions">
    <%= f.submit "Save Product", class: 'button button-create' %>
    <%= link_to 'Back', products_path, class: "button button-create" %>
  </div>
<% end %>
