<div id="product-index" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Title:</strong>
		  <%= @product.title %>
		</p>

		<p>
		  <strong>Product:</strong>
		  <%= @product.product %>
		</p>

		<p>
			<strong>Associations</strong>
			<%= @product.category_id %>
		</p>

		<%= link_to 'Edit', edit_product_path(@product) %> |
		<%= link_to 'Back', products_path %>
	</div>
  </div>
</div>
