<div id="product-index" class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
    	<% if notice != nil %>
			<p id="notice"><%= notice %></p>
		<% end %>

		<p>
		  <strong>Title:</strong>
		  <a target="_blank" href="<%= @product.product_url %>"><%= @product.title %></a>
		</p>
		<p>
			<strong>Category</strong>
			<%= @product.category.cat_name %>
		</p>

		<p>
		  <img src="<%= @product.product_img_url %>" />
		</p>

		<%= link_to 'Edit', edit_product_path(@product), class: "button button-create" %>
		<%= link_to 'Back', products_path, class: "button button-create" %>
	</div>
  </div>
</div>
